---
layout: layout.liquid
title: Lab 8.5 Kims Book API
---
<h1 class="font-extrabold text-3xl italic ">Kim's Fav Books API !</h1>
<hr >
<div>
<table id ="bookList">
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>ISBN</th>
  </tr>

  <tr>
    <td id ="bookTitle"></td>
    <td id ="bookAuthor"></td>
    <td id ="bookISBN"></td>
  </tr>

</table>

</div>
