---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
  <!--Tailwind ref : https://tailwindcss.com/docs/installation/play-cdn-->
  <script src="https://cdn.tailwindcss.com"></script>
  <script defer src="https://cdn.jsdelivr.net/gh/hankhank10/alpine-fetch@main/alpine-fetch.js"></script>
  <script src="//unpkg.com/alpinejs" defer></script>
</head>
<!--Tailwind docs colors https://tailwindcss.com/docs/background-color -->
<body class="bg-fuchsia-400 text-white font-mono p-4 text-center ">

    {{ content }}
    
    <script src="/scripts/utilities.js"></script>
</body>
</html>
