body {
  font-family: Helvetica, sans-serif;
  color: #f3f3f5;
  background: #eb59da;
  padding: 0 40px;
  text-align: center;
}
button {
  background-color: #ae21e1;
  border-radius: 5px;
  padding: 10px;
  font-style: italic;
  cursor: pointer;
}

h1 {
  font-family: "Courier New", Courier, monospace;
}
